<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <form [formGroup]="plagesAddForm">
        <table class="table-bordered text-center col-lg-9">
          <tr>
            <th colspan="3">Ajouter une plage</th>
            <th>Type de rendez-vous</th>
          </tr>

          <tr>
            <td>
              <button (click)="onSubmit()" class="btn btn-success" type="button">
                Ajouter
              </button>
            </td>

            <td>
              <div class="form-group">
                <input bsDatepicker aria-describedby="basic-addon1" type="text" id="day" class="form-control"
                       formControlName="day" required>
                <label class="form-control-placeholder2" for="day">Date du rendez-vous</label>
              </div>
            </td>
            <td>
            <span>
               Début :
                    <timepicker formControlName="startTime"
                                [min]="minTime"
                                [max]="maxTime">
                   </timepicker>
            </span>
              <span>
               Fin :
                    <timepicker formControlName="endTime"
                                [min]="minTime"
                                [max]="maxTime">
                    </timepicker>
            </span>
            </td>
            <td>
              <div *ngIf="appointmentTypes" class="btn-group" dropdown>
                <button *ngIf="appointmentTypeSelected" id="button-basic" dropdownToggle type="button"
                        class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                  {{ appointmentTypeSelected.name }} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li *ngFor="let appointmentType of appointmentTypes" (click)="selectAppointmentType(appointmentType)"
                      class="pointer" role="menuitem"><a class="dropdown-item">{{appointmentType.name}}</a></li>
                </ul>
              </div>
            </td>
        </table>
      </form>

    </div>
  </div>

</div>
