<table class="table-bordered text-center col-lg-9">
  <tr class="col-lg-2">
    <td>
      <button (click)="submit()" class="btn btn-success" type="button">
        Ajouter
      </button>
    </td>
  </tr>
  <tr class="col-lg-2">
    <td>
      <input bsDatepicker class="form-control"
             id="day"
             type="text">
    </td>
  </tr>
  <tr class="col-lg-4">
    <td>
      <span>
        Début :
        <timepicker [(ngModel)]="startTime"
                    [min]="minTime"
                    [max]="maxTime">
        </timepicker>
      </span>
      <span>
        Fin :
        <timepicker [(ngModel)]="endTime"
                    [min]="minTime"
                    [max]="maxTime">
        </timepicker>
      </span>
    </td>
  </tr>
  <tr class="col-lg-2">
    <td >
      <div *ngIf="appointmentTypes" class="btn-group" dropdown>
        <button *ngIf="appointmentTypeSelected" id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          {{ appointmentTypeSelected.name }} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li *ngFor="let appointmentType of appointmentTypes" (click)="selectAppointmentType(appointmentType)" class="pointer" role="menuitem"><a class="dropdown-item">{{appointmentType.name}}</a></li>
        </ul>
      </div>
    </td>
  </tr>


</table>
