<h3>Selection :</h3>
<div class="border-rectangle">
  <div *ngIf="!selectedPlage">
    <h4>Aucune plage selectionée !</h4>
  </div>
  <div *ngIf="selectedPlage">
    <div class="text-center">
      <h3 class="date">{{getDayString()}}</h3>
      <h4>{{getTimeString()}}</h4>
    </div>

    <hr>
    <h4>Plage horraire</h4>
    <p>
      <span>Début : </span>
      <timepicker [(ngModel)]="startTime"
                  [min]="minTime"
                  [max]="maxTime">
      </timepicker>
    </p>
    <p>
      <span>Fin : </span>
      <timepicker [(ngModel)]="endTime"
                         [min]="minTime"
                         [max]="maxTime">
      </timepicker>
    </p>
    <hr>
    <h4>Type de rendez-vous</h4>
      <div *ngIf="appointmentTypes" class="btn-group" dropdown>
        <button *ngIf="appointmentTypeSelected" id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          {{ appointmentTypeSelected.name }} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li *ngFor="let appointmentType of appointmentTypes" (click)="selectAppointmentType(appointmentType)" class="pointer" role="menuitem"><a class="dropdown-item">{{appointmentType.name}}</a></li>
        </ul>
      </div>
    <hr>
    <h4>Voir la liste des rendez-vous</h4>
  </div>

</div>
