<h3>Selection :</h3>
<div class="border-rectangle">
  <div *ngIf="!selectedCreneau">
    <h4>Aucune plage selectionée !</h4>
  </div>
  <div *ngIf="selectedCreneau">
    <div class="text-center">
      <h3 class="date">{{getDayString()}}</h3>
      <h4>{{getTimeString()}}</h4>
    </div>
  </div>
  <div align="center" >
    <table *ngIf="selectedCreneau && appointments" class="table table-striped table-hover">
      <h4 id="pLabel"><i>Liste des rendez-vous</i></h4>
      <tbody>
      <tr *ngFor="let appointment of appointments;">
        <td scope="row">
          <span class="name"> {{ appointment.student.lastName.toUpperCase() }} {{ appointment.student.firstName }} - {{appointment.appointmentType.name}}</span>
          <button (click)="cancelAppointment(appointment)" aria-label="Close" class="close" type="button">
            <span >x</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="appointments.length == 0">
        <td scope="row" class="text-center">
          <span>aucun rendez-vous n'a été pris dans ce créneau</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
