<div align="center" id="mainDiv">
  <h3>Budget prévisionnel</h3>
  <br>
  <h5>Vous apporterez ici les élements qui établiront votre budget pour la durée de votre séjour</h5>
  <br>

  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Pays envisagés envisagées" type="text">
  </label>
  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Villes envisagées" type="text">
  </label>

  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Durée prévue" type="text">
  </label>
  <br>
  <br>
  <br>


</div>
