<div>
  <h1 align="center">Espace Bureau des Relations Internationales</h1>

  <br> <br>

  <div id="rdvGestion">
    <h3>Gestion des rendez-vous</h3>

    <br> <br> <br> <br>

    <button [routerLink]="['/availability']" class="btn btn-lg btn-primary" type="button">
      Renseigner et modifier mes disponibilités
    </button>

    <br> <br> <br> <br> <br> <br>

    <button class="btn btn-lg btn-primary" disabled type="button">
      Consulter les rendez-vous
    </button>


  </div>

  <div id="reportGestion">
    <h3>Gestion des dossiers</h3>

    <br> <br> <br> <br>

    <button [routerLink]="['/reportChecker']" class=" btn btn-lg btn-primary" type="button">
      Consulter les dossiers étudiants
    </button>

    <br> <br> <br> <br> <br> <br>

    <button class="btn btn-lg btn-primary" disabled type="button">
      Récupérer les listes dossiers / étudiants
    </button>


  </div>

  <div class="vl"></div>

</div>
