<div class="container content">
  <div class="row content ">
    <div class="col-xs-12">
      <h2 class="text-center">Espace Bureau des Relations Internationales</h2>
      <ul class="nav nav-tabs">
        <li class="toggleName" id="firstToggle"><a (click)="search('search')"
                                                   [ngClass]="{ 'active':activeTab==='search'}" data-toggle="tab">
          Gestion des rendez-vous</a>
        </li>
        <li class="toggleName" id="secondToggle"><a [ngClass]="{ 'active':activeTab==='result'}" data-toggle="tab"
                                                    (click)="result('result')">
          Gestion des dossiers</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="search" class="tab-pane active" [ngClass]="{ 'active':activeTab==='search'}">
          <div class="row content" style="text-align: center">
            <div class="col-xs-12">
              <br>
              <br>
              <br>
              <br>
              <button [routerLink]="['/availability']" class="btn btn-lg btn-primary" type="button">
                Renseigner et modifier mes disponibilités
              </button>

              <br> <br> <br> <br> <br> <br>

              <button class="btn btn-lg btn-primary" disabled type="button">
                Consulter les rendez-vous
              </button>
            </div>
          </div>
        </div>


        <div id="result" class="tab-pane" [ngClass]="{ 'active':activeTab==='result'}">
          <div class="row content" style="text-align: center">
            <div class="col-xs-12">
              <br>
              <br>
              <br>
              <br>
              <button [routerLink]="['/reportChecker']" class=" btn btn-lg btn-primary" type="button">
                Consulter les dossiers étudiants
              </button>

              <br> <br> <br> <br> <br> <br>

              <button [routerLink]="['/reportsFilterer']" class="btn btn-lg btn-primary" type="button">
                Récupérer les listes dossiers et/ou étudiants
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
