<div align="center" id="mainDiv">
  <h3>Programme d'études pendant le séjour à l'étranger</h3>
  <br>
  <h4>Veuillez remplir le tableau ci-dessous (laisser blanc si nécéssaire)</h4>
  <br>


  <table class="table">
    <thead>
    <tr>
      <th scope="col">Code du cours</th>
      <th scope="col">Titre du cours</th>
      <th scope="col">Nombre de crédits</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="21343D"
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Machine learning"
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="3"
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="432455"
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Data Science"
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="2"
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    <tr>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
      <td>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="..."
               type="text">
      </td>
    </tr>

    </tbody>
  </table>
</div>
