#tableInformation {
  width: 90%;
  text-align: center;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
caption{
  text-align: center;
}

.table {
  text-align: center;
}

#div_modify_or_save {
  margin-top: 20px;
}
#modify, #save {
  display: inline-block;
}
