<div class="col-lg-12"><p class="h2">Informations sur l'etudiant</p></div>
<div class="col-lg-4">
  <table *ngIf="isStudent" class="table table-bordered" id="tableInformation1" >
    <tr>
      <th>Prenom</th>
      <td> {{student.firstName }}</td>
    </tr>
    <tr>
      <th>Nom</th>
      <td> {{student.lastName  }} </td>
    </tr>
    <tr>
      <th>N°Étudiant</th>
      <td> {{student.studentNumber  }}</td>
    </tr>
    <tr>
      <th>N°INE</th>
      <td> {{student.INE   }}</td>
    </tr>
  </table>
</div>

<div class="col-lg-4">
  <table *ngIf="isStudent" class="table table-bordered" id="tableInformation2" >
    <tr>
      <th>Téléphone Fixe</th>
      <td> {{student.phoneNumber  }}</td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td> {{student.mobilePhoneNumber  }}</td>
    </tr>
    <tr>
      <th>Code Postal</th>
      <td> {{student.postalCode  }}</td>
    </tr>
    <tr>
      <th>Ville</th>
      <td> {{student.city  }}</td>
    </tr>

  </table>
</div>
<div class="col-lg-4">
  <table *ngIf="isStudent" class="table table-bordered" id="tableInformation3">
    <tr>
      <th>Nationalité</th>
      <td> {{student.nationality  }}</td>
    </tr>
    <tr>
      <th>Spécialité</th>
      <td> {{student.major  }}</td>
    </tr>
    <tr>
      <th>Sexe</th>
      <td> {{student.gender  }}</td>
    </tr>
    <tr>
      <th>Date de Naissance</th>
      <td> {{student.birthDate  }}</td>
    </tr>
  </table>
</div>

<div class="col-lg-12">
  <table *ngIf="isStudent" class="table table-bordered" id="tableInformation4" >
    <tr>
      <th>Mail</th>
      <td> {{student.mail  }}</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td> {{student.address  }}</td>
    </tr>
  </table>
</div>


<!--
  "
  "mobilePhoneNumber": "0605468955",
-->



