<div align="center" id="MODULE">

  <h3>Europass</h3>
  <br>
  <h5>Vous devez créer un CV européen en allant sur le site<br><br>
    <a href="https://europass.cedefop.europa.eu/fr">https://europass.cedefop.europa.eu/fr</a></h5>
  Suite à cela, vous obtiendrez un <b>PDF</b>. Mettez-le en ligne :
  <br>
  <br>
  <table>
    <tr>
      <th colspan="2">
        <input #file [uploader]="uploader" class="input-group-addon alert-info" name="photo" ng2FileSelect
               style="width: 300px"
               type="file"/>
      </th>
    </tr>
    <tr>
      <td class="tdleftcase" align="left">
        <button (click)="downloadFile()" [disabled]="shouldDisplayDownload" class="btn btn-info" id="download">Télécharger
          <span
            class="glyphicon glyphicon-download"></span>
        </button>

      </td>
      <td class="tdrightcase" align="right">
        <button (click)="deleteFile()" [disabled]=" this.selectedPicture.nativeElement.value == ''" class="btn btn-info">
          Supprimer <span class="glyphicon glyphicon-remove-sign"></span>
        </button>

      </td>

    </tr>
    <tr>
      <td colspan="2" class="tdcentercase" align="center">
        <button (click)="onSubmit()" [ngClass]="{'btn-success': isFileUploaded===true}"
                class="btn btn-lg btn-default btn-block" id="submit" type="submit">
          <span [ngClass]="{'glyphicon-check': isFileUploaded===true}" class="glyphicon"></span>
          Enregister
        </button>
      </td>
    </tr>
  </table>


</div>
