<div align="center" id="mainDiv">
  <form (ngSubmit)="onSubmit()"
        [formGroup]="budgetForm">

    <h3>Budget prévisionnel</h3>
    <br>
    <h5>Vous apporterez ici les élements qui établiront votre budget pour la durée de votre séjour</h5>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" formControlName="paysEnvisage"
             placeholder="Pays envisagés envisagées" type="text">
    </label>
    <label>
      <input aria-describedby="basic-addon1" class="form-control" formControlName="villesEnvisagees"
             placeholder="Villes envisagées" type="text">
    </label>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" formControlName="dureeEnvisagee"
             placeholder="Durée prévue" type="text">
    </label>
    <br>
    <br>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Dépenses totales du séjour</th>
        <th scope="col">Ressources prévues</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixVoyage"
                 placeholder="Prix du voyage aller/retour"
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="aideFamiliale"
                 placeholder="Aide familiale"
                 type="text">
        </label></td>
      </tr>

      <tr>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixLogement"
                 placeholder="Logement sur place"
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixBourse"
                 placeholder="Bourse d'enseignement superieur"
                 type="text">
        </label></td>
      </tr>


      <tr>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixNourriture"
                 placeholder="Nouriture, etc."
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixPrame"
                 placeholder="Bourse mobilité PRAME"
                 type="text">
        </label></td>
      </tr>

      <tr>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixTransports"
                 placeholder="Transports, loisirs..."
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixEte"
                 placeholder="Travail pendant l'été"
                 type="text">
        </label></td>
      </tr>

      <tr>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixEtudes"
                 placeholder="Frais relatifs aux études"
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixEconomies"
                 placeholder="Economies personnelles"
                 type="text">
        </label></td>
      </tr>

      <tr>
        <td><label>

          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixDepenses"
                 placeholder="Autre dépenses"
                 type="text">
        </label></td>
        <td><label>
          <input aria-describedby="basic-addon1" class="form-control" formControlName="prixAutre"
                 placeholder="Autres ressources"
                 type="text">
        </label></td>
      </tr>

      </tbody>
    </table>


    <button (click)="onSubmit()" [ngClass]="{'btn-success': isValidated===true}"
            class="btn btn-lg btn-default btn-block" id="submit" type="submit">
      Enregister
    </button>
  </form>
</div>
