input {
  width: 400px;
  align-content: center;
  margin-top: 20px;
  text-align: center;
}

#mainDiv {
  /*width: 100%;*/
  margin-left: 15%;
}

td input {
  width: 300px;
  text-align: center;
}

#submit {

}

tr th {
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  left: 40%;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.form-control-placeholder2 {
  position: absolute;
  top: 0;
  left: 25%;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 85%;
}

.form-control:focus + .form-control-placeholder2,
.form-control:valid + .form-control-placeholder2 {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
