<div align="center" id="mainDiv">
  <form (ngSubmit)="onSubmit()"
        [formGroup]="budgetForm">

    <h3>Budget prévisionnel</h3>
    <br>
    <h5>Vous apporterez ici les élements qui établiront votre budget pour la durée de votre séjour</h5>
    <br>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="paysEnvisage" class="form-control"
                   formControlName="paysEnvisage" value="{{this.module.infos.country}}" required>
            <label class="form-control-placeholder" for="paysEnvisage">Pays envisagés</label>
          </div>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="villesEnvisagees" class="form-control"
                   formControlName="villesEnvisagees" value="{{this.module.infos.city}}" required>
            <label class="form-control-placeholder" for="villesEnvisagees">Villes envisagées</label>
          </div>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="dureeEnvisagee" class="form-control"
                   formControlName="dureeEnvisagee" value="{{this.module.infos.stayDuration}}" required>
            <label class="form-control-placeholder" for="dureeEnvisagee">Durée envisagée</label>
          </div>
         </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Dépenses totales du séjour</th>
        <th scope="col">Ressources prévues</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixVoyage" class="form-control"
                   formControlName="prixVoyage" value="{{this.module.infos.travelCost}}" required>
            <label class="form-control-placeholder2" for="prixVoyage">Prix du voyage aller/retour</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="aideFamiliale" class="form-control"
                   formControlName="aideFamiliale" value="{{this.module.infos.familyResources}}" required>
            <label class="form-control-placeholder2" for="aideFamiliale">Aide familiale</label>
          </div>

        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixLogement" class="form-control"
                   formControlName="prixLogement" value="{{this.module.infos.accommodationCost}}" required>
            <label class="form-control-placeholder2" for="prixLogement">Logement sur place</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixBourse" class="form-control"
                   formControlName="prixBourse" value="{{this.module.infos.frenchCROUSScholarship}}" required>
            <label class="form-control-placeholder2" for="prixBourse">Bourse d'enseignement superieur</label>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixNourriture" class="form-control"
                   formControlName="prixNourriture" value="{{this.module.infos.foodCost}}" required>
            <label class="form-control-placeholder2" for="prixNourriture">Nouriture, etc.</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixPrame" class="form-control"
                   formControlName="prixPrame" value="{{this.module.infos.mobilityScholarship}}" required>
            <label class="form-control-placeholder2" for="prixPrame">Bourse mobilité PRAME</label>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixTransports" class="form-control"
                   formControlName="prixTransports" value="{{this.module.infos.transportationHobbiesCost}}" required>
            <label class="form-control-placeholder2" for="prixTransports">Transports, loisirs...</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixEte" class="form-control"
                   formControlName="prixEte" value="{{this.module.infos.summerJobSalaries}}" required>
            <label class="form-control-placeholder2" for="prixEte">Travail pendant l'été.</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixEtudes" class="form-control"
                   formControlName="prixEtudes" value="{{this.module.infos.studyCost}}" required>
            <label class="form-control-placeholder2" for="prixEtudes">Frais relatifs aux études</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixEconomies" class="form-control"
                   formControlName="prixEconomies" value="{{this.module.infos.personalResources}}" required>
            <label class="form-control-placeholder2" for="prixEconomies">Economies personnelles</label>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixDepenses" class="form-control"
                   formControlName="prixDepenses" value="{{this.module.infos.othersCost}}" required>
            <label class="form-control-placeholder2" for="prixDepenses">Autre dépenses</label>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input aria-describedby="basic-addon1" type="text" id="prixAutre" class="form-control"
                   formControlName="prixAutre" value="{{this.module.infos.othersResources}}" required>
            <label class="form-control-placeholder2" for="prixAutre">Autres ressources</label>
          </div>
        </td>
      </tr>

      </tbody>
    </table>


    <button (click)="onSubmit()" [ngClass]="{'btn-success': isValidated===true}" id="submit"
            class="btn btn-lg btn-default btn-block" id="submit" type="submit">
      Enregister
    </button>
  </form>
</div>
