<div align="center" id="mainDiv">
  <h3>Budget prévisionnel</h3>
  <br>
  <h5>Vous apporterez ici les élements qui établiront votre budget pour la durée de votre séjour</h5>
  <br>

  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Pays envisagés envisagées" type="text">
  </label>
  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Villes envisagées" type="text">
  </label>

  <label>
    <input aria-describedby="basic-addon1" class="form-control" placeholder="Durée prévue" type="text">
  </label>
  <br>
  <br>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Dépenses totales du séjour</th>
      <th scope="col">Ressources prévues</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Prix du voyage aller/retour"
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Aide familiale"
               type="text">
      </label></td>
    </tr>

    <tr>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Logement sur place"
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Bourse d'enseignement superieur"
               type="text">
      </label></td>
    </tr>


    <tr>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Nouriture, etc."
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Bourse mobilité PRAME"
               type="text">
      </label></td>
    </tr>

    <tr>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Transports, loisirs..."
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Travail pendant l'été"
               type="text">
      </label></td>
    </tr>

    <tr>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Frais relatifs aux études"
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Economies personnelles"
               type="text">
      </label></td>
    </tr>

    <tr>
      <td><label>

        <input aria-describedby="basic-addon1" class="form-control" placeholder="Autre dépenses"
               type="text">
      </label></td>
      <td><label>
        <input aria-describedby="basic-addon1" class="form-control" placeholder="Autres ressources"
               type="text">
      </label></td>
    </tr>

    </tbody>
  </table>

</div>
