#mainContainer {
  margin-top: 11%;
  margin-bottom: 11%;
}


body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

#mainAlert div {
  width: 67% !important;
  margin-left: 20% !important;;
}
