<div class="container">
  <div class="row">
    <div class="col-lg-12" align="center">
      <alert id="dashboardAlert"></alert>
      <h1 *ngIf="isStudent">Espace personnel</h1>
    </div>
  </div>

  <!--STUDENT CASE-->
  <div *ngIf="isStudent">
    <div class="row">
      <div align="center" class="col-lg-6">
        <app-report></app-report>
      </div>
      <div align="center" class="col-lg-6">
        <app-student-informations [student]="student"></app-student-informations>
      </div>
    </div>
    <div class="row">
      <div align="center" class="col-lg-12">
        <app-rendezvous></app-rendezvous>
      </div>
    </div>
  </div>

  <!--BRI CASE-->
  <div *ngIf="!isStudent">
    <app-espace-bri></app-espace-bri>
  </div>
</div>
