.td-motiv {
  padding-left: 10px;
  padding-right: 10px;
}

input {
  width: 400px;
  align-content: center;
  margin-top: 20px;
  text-align: center;
}

button {
  margin-left: 50px;
  margin-top: 20px;
}

#delete {
  margin-right: 35px;
}

.importdelete {
  margin-top: 20px;
  margin-left: 50px;
}

.btn .btn-info {
  margin-top: 10px;
}

#submit {
  margin-top: 25px;
  width: 300px;
  margin-left: 15px;

  align-content: center;
  align-self: center;
  alignment: center;
}
