<div align="center">
  <h3>Lettre de motivation</h3>
  <br>
  <h5>Montrez votre motivation !<br> Ecrivez une lettre où vous expliquez vos motivations à effectuer cet échange à
    l'étranger, et enregistrez-le en <b>PDF</b></h5>
  <br>

  <input #file [uploader]="uploader" class="input-group-addon alert-info" name="photo" ng2FileSelect
         style="width: 300px"
         type="file"/>

  <button (click)="deleteFile()" [disabled]=" this.selectedPicture.nativeElement.value == ''" class="btn btn-info"
          id="delete">
    Supprimer
    <span class="glyphicon glyphicon-remove-sign"></span>
  </button>


  <button (click)="downloadFile()" [disabled]="shouldDisplayDownload" class="btn btn-info">Télécharger <span
    class="glyphicon glyphicon-download"></span>
  </button>

  <button (click)="onSubmit()" [ngClass]="{'btn-success': isFileUploaded===true}"
          class="btn btn-lg btn-default btn-block" id="submit" type="submit">
    <span [ngClass]="{'glyphicon-check': isFileUploaded===true}" class="glyphicon"></span>
    Enregistrer
  </button>

</div>
