<span id="searchDiv">

  <input aria-describedby="basic-addon1" class="form-control" formControlName="studentName" id="studentName"
         placeholder="Prénom et nom de l'étudiant"
         type="text">

  <button class="btn btn-info" id="searchBtn"><span class="glyphicon  glyphicon-search"></span>  </button>

  <div id="dossierDrop">
    <span id="dossierSpan">
       <label for="dossierDrop">Dossiers</label>
    <select class="form-control" multiple style="margin-left:20px; width:100px;">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    </span>

  </div>


</span>
<!--<app-new-report></app-new-report>-->
