<form
  [formGroup]="studentCheckForm"
  class="form-signin">

<span id="searchDiv">

  <input aria-describedby="basic-addon1" class="form-control" formControlName="studentName" id="studentName"
         placeholder="Prénom et nom de l'étudiant (i.e Coco Martin)"
         type="text">

  <button (click)="onSubmit();" class="btn btn-info"><span
    class="glyphicon glyphicon-search"></span>  </button>

  <div [hidden]="shouldSelectBeVisible" id="dossierDrop">
    <span id="dossierSpan">
       <label for="dossierDrop">Dossiers</label>

    <select class="form-control" formControlName="selectDrop" multiple style="margin-left:20px; width:200px;">

     <option (click)="displayEditReport(report.id)" *ngFor="let report of reports" [ngValue]="report"
             id="{{report.id}}">{{report.name}}</option>

    </select>
    </span>

  </div>


  <div *ngIf="shouldBeDisplayed">

    <button (click)="downloadReport()" class="btn btn-success" disabled style="margin-bottom: 5px;"><span
      class="glyphicon glyphicon-download"></span> Télécharger le dossier</button>
    <br>
    <button (click)="validateReport()" class="btn btn-success" style="margin-top:5px;"><span
      class="glyphicon glyphicon-check"></span> <b>Valider le dossier</b></button>

   <span *ngIf="reportValidated" class="badge badge-success"
         style="margin-left:20px; background-color:#28a745">Validé !</span>

  </div>


</span>
</form>

<br><br><br>

<div *ngIf="!shouldBeDisplayed" id="searchStudentTxt">
  <h2>Le dossier de l'étudiant selectionné apparaitra ici</h2>
</div>

<app-edit *ngIf="shouldBeDisplayed" [reportId]="actualReportId"></app-edit>
