<div align="center">
  <h3>Relevé de note</h3>
  <br>
  <h5>Importez votre relevé de note du premier semestre ici</h5>
  <br>


  <table>
    <tr>
      <th colspan="2">
        <input #file [uploader]="uploader" class="input-group-addon alert-info" name="photo" ng2FileSelect
               style="width: 300px"
               type="file"/>
      </th>
    </tr>
    <tr>
      <td class="tdleftcase" align="left">
        <button (click)="downloadFile()" [disabled]="shouldDisplayDownload" class="btn btn-info">Télécharger <span
          class="glyphicon glyphicon-download"></span>
        </button>
      </td>
      <td class="tdrightcase" align="right">
        <button (click)="deleteFile()" [disabled]=" this.selectedPicture.nativeElement.value == ''" class="btn btn-info"
                id="delete">
          Supprimer <span class="glyphicon glyphicon-remove-sign"></span>
        </button>

      </td>

    </tr>
    <tr>
      <td colspan="2" class="tdcentercase" align="center">
        <button (click)="onSubmit()" [ngClass]="{'btn-success': isFileUploaded===true}"
                class="btn btn-lg btn-default btn-block" id="submit" type="submit">
          <span [ngClass]="{'glyphicon-check': isFileUploaded===true}" class="glyphicon"></span>
          Enregistrer
        </button>
      </td>
    </tr>
  </table>
</div>
