.importdelete {
  margin-left: 50px;
}

#submit {
  width: 300px;
  align-content: center;
  align-self: center;
  alignment: center;
}

#delete {

}

th{
  text-align: center;
}
.tdcentercase {
  text-align: center;
}

.tdleftcase{
  text-align: left;
}
.tdrightcase{
  text-align: right;
}

td{
  padding-top: 15px;
  padding-bottom: 15px;
}

