<table class="table table-bordered" id="tableDossiers">
  <h4 id="pLabel"><i>Ajoutez</i>/<i>modifiez</i> vos modules</h4>
  <tbody>
  <tr *ngFor="let module of modules;">
    <td align="center" scope="row">

      <div>
        <p> {{ module.module.typeName }}</p>
      </div>


    </td>
  </tr>

  <tr>
  </tr>
  </tbody>
</table>

<div class="bs-callout bs-callout-info">
  <h4>Validation du dossier</h4> <br>
  A chaque module remplis, n'oubliez pas de cliquer sur <i>Enregistrer</i>. <br> <br>Une fois ceci fait, vous pouvez
  quitter la page !
</div>
