<table class="table table-bordered" id="tableDossiers">
  <div><h4 id="pLabel"><i>Ajoutez</i>/<i>modifiez</i> vos modules</h4></div>
  <tbody>
  <tr *ngFor="let module of modules;">
    <td align="center" scope="row">

      <div>
        <p> {{ module.module.typeName }}</p>
      </div>


    </td>
  </tr>

  <tr>
    <!--<td align="center" scope="row">-->
    <!--<button (click)="addInput()" class="btn btn-success" type="button">Ajouter</button>-->
    <!--</td>-->
  </tr>
  <tr>
    <button class="btn  btn-danger btn-block" id="deleteBtn" type="submit">
      Supprimer le dossier
    </button>

  </tr>
  </tbody>
</table>

