input {
  margin: .4rem;
}

td {
  vertical-align: middle;
}

label {
  margin-top: 25px;
  /*padding-left: 10px;*/
  font: 1em 'Fira Sans', sans-serif;
}

.btn-group {
  margin-top: 16px;
  horiz-align: center;
}

label.normal-margin {
  margin-top: 4px;
  margin-bottom: 4px;
}
