<div id="MODULE">
  <div align="center" class="row col-lg-12">
    <h3>Voeux Universités</h3>
  </div>

  <div class="row col-lg-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="wishesForm">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col"><b>Choix</b></th>
          <th scope="col">Université</th>
          <th scope="col">Pays</th>
          <th scope="col">Période</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div align="center">
              <label>1</label>
            </div>
          </td>

          <td>
            <div class="text-center">
              <div class="btn-group text-center" dropdown>
                <button *ngIf="schoolSelected1"
                        aria-controls="dropdown-basic" class="btn btn-primary dropdown-toggle" dropdownToggle
                        id="button-basic-1"
                        type="button">
                  {{ schoolSelected1.name }} -  {{schoolSelected1.city}}, {{schoolSelected1.country}}
                  <span class="caret"></span>
                </button>
                <button #buttonUniversity1 *ngIf="!schoolSelected1"
                        aria-controls="dropdown-basic" class="btn btn-primary dropdown-toggle text-center"
                        dropdownToggle
                        id="button-basic-1-empty" type="button">
                  Sélectionnez votre Université d'Accueil
                  <span class="caret"></span>
                </button>

                <ul *dropdownMenu aria-labelledby="button-basic" class="dropdown-menu text-center"
                    id="dropdown-basic-1" role="menu">
                  <li (click)="setLineToNull(1)" class="pointer" role="menuitem">
                    <a class="dropdown-item">Aucun</a>
                  </li>
                  <li (click)="selectSchool(school, 1)" *ngFor="let school of schoolList" class="pointer"
                      role="menuitem">
                    <a class="dropdown-item">
                      {{school.name}}  -  {{school.city}}, {{school.country}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div align="center">
              <label #labelPays1 align="center" class="" id="label_select_1">
                <span *ngIf="schoolSelected1" id="span_1">{{schoolSelected1.country}}</span>
              </label>
            </div>
          </td>
          <td>
            <div>
              <input formControlName="semester_choice_1" id="choice1_1" name="semester_choice_1" type="radio"
                     value="fall">
              <label class="normal-margin" for="choice1_1">Automne</label><br>

              <input formControlName="semester_choice_1" id="choice1_2" name="semester_choice_1" type="radio"
                     value="spring">
              <label class="normal-margin" for="choice1_2">Printemps</label><br>

              <input formControlName="semester_choice_1" id="choice1_3" name="semester_choice_1" type="radio"
                     value="full">
              <label class="normal-margin" for="choice1_3">Année Entière</label><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div align="center">
              <label>2</label>
            </div>
          </td>
          <td>
            <div class="text-center">
              <div class="btn-group text-center" dropdown>
                <button *ngIf="schoolSelected2"
                        aria-controls="dropdown-basic" class="btn btn-primary dropdown-toggle text-center"
                        dropdownToggle
                        id="button-basic-2"
                        type="button">
                  {{ schoolSelected2.name }} -  {{schoolSelected2.city}}, {{schoolSelected2.country}}
                  <span class="caret"></span>
                </button>

                <button *ngIf="!schoolSelected2" aria-controls="dropdown-basic"
                        class="btn btn-primary dropdown-toggle text-center" dropdownToggle
                        id="button-basic-2-empty"
                        type="button">
                  Sélectionnez votre Université d'Accueil
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu aria-labelledby="button-basic" class="dropdown-menu text-center"
                    id="dropdown-basic-2"
                    role="menu">
                  <li (click)="setLineToNull(2)" class="pointer" role="menuitem">
                    <a class="dropdown-item">Aucun</a>
                  </li>
                  <li (click)="selectSchool(school, 2)" *ngFor="let school of schoolList" class="pointer"
                      role="menuitem">
                    <a class="dropdown-item">
                      {{school.name}}  -  {{school.city}}, {{school.country}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div align="center">
              <label #labelPays2 align="center" class="" id="label_select_2">
                <span *ngIf="schoolSelected2">{{schoolSelected2.country}}</span>
              </label>
            </div>
          </td>
          <td>
            <div>
              <input formControlName="semester_choice_2" id="choice2_1" type="radio" value="fall">
              <label class="normal-margin" for="choice1_1">Automne</label><br>

              <input formControlName="semester_choice_2" id="choice2_2" type="radio" value="spring">
              <label class="normal-margin" for="choice1_2">Printemps</label><br>

              <input formControlName="semester_choice_2" id="choice2_3" type="radio" value="full">
              <label class="normal-margin" for="choice1_3">Année Entière</label><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div align="center">
              <label>3</label>
            </div>
          </td>

          <td>
            <div class="text-center">
              <div class="btn-group text-center" dropdown>
                <button *ngIf="schoolSelected3"
                        aria-controls="dropdown-basic" class="btn btn-primary dropdown-toggle text-center"
                        dropdownToggle
                        id="button-basic-3"
                        type="button">
                  {{ schoolSelected3.name }} -  {{schoolSelected3.city}}, {{schoolSelected3.country}}
                  <span class="caret"></span>
                </button>

                <button *ngIf="!schoolSelected3" aria-controls="dropdown-basic"
                        class="btn btn-primary dropdown-toggle text-center" dropdownToggle
                        id="button-basic-3-empty"
                        type="button">
                  Sélectionnez votre Université d'Accueil
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu aria-labelledby="button-basic"
                    class="dropdown-menu text-center"
                    id="dropdown-basic-3"
                    role="menu">
                  <li (click)="setLineToNull(3)" class="pointer" role="menuitem">
                    <a class="dropdown-item">Aucune</a>
                  </li>
                  <li (click)="selectSchool(school, 3)" *ngFor="let school of schoolList" class="pointer"
                      role="menuitem">
                    <a class="dropdown-item">
                      {{school.name}}  -  {{school.city}}, {{school.country}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div align="center">
              <label #labelPays3 align="center" class="" id="label_select_3">
                <span *ngIf="schoolSelected3">{{schoolSelected3.country}}</span>
              </label>
            </div>
          </td>
          <td>
            <div>
              <input formControlName="semester_choice_3" id="choice3_1" type="radio" value="fall">
              <label class="normal-margin" for="choice1_1">Automne</label><br>

              <input formControlName="semester_choice_3" id="choice3_2" type="radio" value="spring">
              <label class="normal-margin" for="choice1_2">Printemps</label><br>

              <input formControlName="semester_choice_3" id="choice3_3" type="radio" value="full">
              <label class="normal-margin" for="choice1_3">Année Entière</label><br>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <button [ngClass]="{'btn-success': isValidated===true}"
              class="btn btn-lg btn-default btn-block" id="submit" type="submit">
        Enregister
      </button>
    </form>
  </div>
</div>
