table{
  text-align: center;
}
td{
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

th{
  text-align: center;
}

img{
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#cn1 {
  margin-right: 20px;
}
#divPassport{
  text-align: center;
}

#leftButton{
  position: relative;
  right: 15px;
}

#rightButton{
  position: relative;
  left: 15px;
}
