<table>
  <thead>
  <th>Face recto de votre passport</th>
  <th>Face verso de votre passeportt</th>
  </thead>
  <tr>
    <td><img alt="recto" src="../../../../assets/img/cni-1.jpg"></td>
    <td><img alt="verso" src="../../../../assets/img/cni-2.jpg"></td>
  </tr>
  <tr>
    <td>
      <button class="btn btn-info">Importer <span class="glyphicon glyphicon-edit"></span></button>
    </td>
    <td>
      <button class="btn btn-info">Supprimer <span class="glyphicon glyphicon-remove-sign"></span></button>
    </td>
  </tr>
</table>

