<div *ngIf="module">

  <div *ngIf="module.typeModule.id === 0">
    <hr>
    <div>
    <app-infos-generales></app-infos-generales>
    </div>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 1">
    <hr>
    <app-cni [module]="this.module"></app-cni>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 2">
    <hr>
    <app-passport [module]="this.module"></app-passport>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 4">
    <hr>
    <app-europass-component [report]="this.file" [module]="this.module"></app-europass-component>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 5">
    <hr>
    <app-releve-note-component [report]="this.file" [module]="this.module"></app-releve-note-component>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 6">
    <hr>
    <app-lettre-motivation [report]="this.file" [module]="this.module"></app-lettre-motivation>
    <hr>
  </div>


  <div *ngIf="module.typeModule.id === 7">
    <hr>
    <app-budget-previsionnel-component [module]="this.module"></app-budget-previsionnel-component>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 8">
    <hr>
    <app-contrat-etude [module]="this.module"></app-contrat-etude>
    <hr>
  </div>

  <div *ngIf="module.typeModule.id === 17">
    <hr>
    <app-voeux-universites [module]="this.module"></app-voeux-universites>
    <hr>
  </div>

</div>

