<div>

  <div *ngIf="componentNameWithClass.indexOf(1) !== -1">
    <hr>
    <app-student-informations [report]="getReport"></app-student-informations>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(2) !== -1">
    <hr>
    <app-cni [report]="getReport"></app-cni>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(3) !== -1">
    <hr>
    <app-passport [report]="getReport"></app-passport>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(4) !== -1">
    <hr>
    <app-europass-component [report]="getReport"></app-europass-component>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(5) !== -1">
    <hr>
    <app-releve-note-component [report]="getReport"></app-releve-note-component>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(6) !== -1">
    <hr>
    <app-lettre-motivation [report]="getReport"></app-lettre-motivation>
    <hr>
  </div>


  <div *ngIf="componentNameWithClass.indexOf(7) !== -1">
    <hr>
    <app-budget-previsionnel-component [report]="getReport"></app-budget-previsionnel-component>
    <hr>
  </div>

  <div *ngIf="componentNameWithClass.indexOf(8) !== -1">
    <hr>
    <app-contrat-etudiant-asie [report]="getReport"></app-contrat-etudiant-asie>
    <hr>

  </div>

</div>

