.form-control {
  width: 400px;
}

td input {
  width: 200px;
}

.vl {
  border-left: 6px solid #050505;
  height: 500px;
  margin-left: 50%;
  margin-top: 2%;
}

.toggleName{
  cursor: pointer;
}

#firstToggle{
  font-size: 20px;
  position: relative;
  left: 20%;
}

#download-button {
  margin-right: 110px;
}

#upload-button {
  margin-left: 108px;
}

#secondToggle{
  font-size: 20px;
  position: relative;
  left: 35%;
}

#clear {
  margin-top: 10px;
}
