<form (ngSubmit)="onSubmit()"
      [formGroup]="contratForm">

  <div align="center" id="mainDiv">

    <h3>Programme d'études pendant le séjour à l'étranger</h3>
    <br>
    <div class="text-center">
      <div class="btn-group text-center" dropdown>
        <button *ngIf="schoolSelected"
                id="button-basic-1" dropdownToggle type="button"
                class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          {{ schoolSelected.name }} -  {{schoolSelected.city}}, {{schoolSelected.country}}
          <span class="caret" ></span>
        </button>
        <button *ngIf="!schoolSelected && this.basicWishesArray.length > 0"
                id="button-basic-3-empty"
                dropdownToggle type="button"
                class="btn btn-primary dropdown-toggle text-center"
                aria-controls="dropdown-basic">
          Sélectionnez un Voeu
          <span class="caret"></span>
        </button>

        <h3 *ngIf="this.basicWishesArray.length === 0" class="text-center alert-danger">
          Veuillez choisir au moins un Voeu dans la section Voeux-Universites
        </h3>
        <ul id="dropdown-basic-3" *dropdownMenu
            class="dropdown-menu text-center"
            role="menu"
            aria-labelledby="button-basic">
          <li class="pointer" role="menuitem">
            <a class="dropdown-item" (click)="setSchoolSelectedToNull()">
              Aucune
            </a>
          </li>
          <li *ngFor="let choice of this.basicWishesArray"
              class="pointer" role="menuitem">
            <a class="dropdown-item" *ngIf="choice.school" (click)="selectWish(choice)">
              {{choice.school.name}}  -  {{choice.school.city}}, {{choice.school.country}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <ul class="nav nav-tabs">
      <li class="toggleName" id="firstToggle" #toggleAutomne>
        <a (click)="setS('s1')"
           [ngClass]="{ 'active':activeTab==='s1'}"
           data-toggle="tab"
           id="afall">
          Semestre Automne</a>
      </li>
      <li class="toggleName" id="secondToggle" #togglePrintemps>
        <a [ngClass]="{ 'active':activeTab==='s2'}"
           data-toggle="tab"
           (click)="setS('s2')"
           id="aspring">
          Semestre Printemps</a>
      </li>
    </ul>
    <h4 *ngIf="this.basicWishesArray.length > 0 && this.schoolSelected">Veuillez remplir le tableau ci-dessous (laisser blanc si
      nécéssaire)</h4>
    <br>

    <div *ngIf="this.basicWishesArray.length > 0 && this.schoolSelected" class="tab-content">
      <div id="search" class="tab-pane active" [ngClass]="{ 'active':activeTab==='s1'}">
        <h3>Semestre 1</h3>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Code du cours</th>
            <th scope="col">Titre du cours</th>
            <th scope="col">Nombre de crédits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours1"
                     value="{{ this.module.infos.codeCours1 }}"
                     placeholder="21343D"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours1"
                     value="{{ this.module.infos.titreCours1 }}"
                     placeholder="Machine learning"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits1"
                     value="{{ this.module.infos.nombreCredits1 }}"
                     placeholder="3"
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours2"
                     value="{{ this.module.infos.codeCours2 }}"
                     placeholder="432455"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours2"
                     value="{{ this.module.infos.titreCours2 }}"
                     placeholder="Data Science"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits2"
                     placeholder="2"
                     value="{{ this.module.infos.nombreCredits2 }}"
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours3"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours3 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours3"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours3 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits3"
                     value="{{ this.module.infos.nombreCredits3 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours4"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours4 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours4"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours4 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits4"
                     value="{{ this.module.infos.nombreCredits4 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours5"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours5 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours5"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours5 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits5"
                     value="{{ this.module.infos.nombreCredits5 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours6"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours6 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours6"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours6 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits6"
                     value="{{ this.module.infos.nombreCredits6 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours7"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours7 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours7"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours7 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits7"
                     value="{{ this.module.infos.nombreCredits7 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours8"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours8 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours8"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours8 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits8"
                     value="{{ this.module.infos.nombreCredits8 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours9"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours9 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours9"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours9 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits9"
                     value="{{ this.module.infos.nombreCredits9 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours10"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours10 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours10"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours10 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits10"
                     value="{{ this.module.infos.nombreCredits10 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours11"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours11 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours11"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours11 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits11"
                     value="{{ this.module.infos.nombreCredits11 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1codeCours12"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours12 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1titreCours12"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours12 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s1nombreCredits12"
                     value="{{ this.module.infos.nombreCredits12 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <div id="result" class="tab-pane" [ngClass]="{ 'active':activeTab==='s2'}">
        <h3>Semestre 2</h3>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Code du cours</th>
            <th scope="col">Titre du cours</th>
            <th scope="col">Nombre de crédits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours1"
                     value="{{ this.module.infos.codeCours1 }}"
                     placeholder="21343D"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours1"
                     value="{{ this.module.infos.titreCours1 }}"
                     placeholder="Machine learning"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits1"
                     value="{{ this.module.infos.nombreCredits1 }}"
                     placeholder="3"
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours2"
                     value="{{ this.module.infos.codeCours2 }}"
                     placeholder="432455"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours2"
                     value="{{ this.module.infos.titreCours2 }}"
                     placeholder="Data Science"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits2"
                     placeholder="2"
                     value="{{ this.module.infos.nombreCredits2 }}"
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours3"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours3 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours3"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours3 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits3"
                     value="{{ this.module.infos.nombreCredits3 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours4"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours4 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours4"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours4 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits4"
                     value="{{ this.module.infos.nombreCredits4 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours5"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours5 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours5"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours5 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits5"
                     value="{{ this.module.infos.nombreCredits5 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours6"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours6 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours6"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours6 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits6"
                     value="{{ this.module.infos.nombreCredits6 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours7"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours7 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours7"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours7 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits7"
                     value="{{ this.module.infos.nombreCredits7 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours8" placeholder="..."
                     value="{{ this.module.infos.codeCours8 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours8"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours8 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits8"
                     value="{{ this.module.infos.nombreCredits8 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours9"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours9 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours9"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours9 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits9"
                     value="{{ this.module.infos.nombreCredits9 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours10"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours10 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours10"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours10 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits10"
                     value="{{ this.module.infos.nombreCredits10 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours11"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours11 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours11"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours11 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits11"
                     value="{{ this.module.infos.nombreCredits11 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          <tr>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2codeCours12"
                     placeholder="..."
                     value="{{ this.module.infos.codeCours12 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2titreCours12"
                     placeholder="..."
                     value="{{ this.module.infos.titreCours12 }}"
                     type="text">
            </td>
            <td>
              <input aria-describedby="basic-addon1" class="form-control" formControlName="s2nombreCredits12"
                     value="{{ this.module.infos.nombreCredits12 }}"
                     placeholder="..."
                     type="text">
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--    FIN DU PROGRAMME D'ETUDE-->

  <button
    *ngIf="this.basicWishesArray.length > 0"
    [ngClass]="{'btn-success': isValidated===true}"
    class="btn btn-lg btn-default btn-block" id="submit" type="submit">
    Enregister
  </button>
</form>
