<form (ngSubmit)="onSubmit()"
      [formGroup]="contratForm">

  <div align="center" id="mainDiv">
    <h3>Contrat d'étude</h3>
    <br>
    <h5>Veuillez remplir tous les champs nécéssaires à la constitution de votre dossier</h5>
    <br>

    <!--label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Nom et prénom" type="text"
             value="{{ getFullName() }}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Date de naissance (e.g 02/08/1998"
             type="text" value="{{getBirthday()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Nationalité" type="text"
             value="{{getNationalite()}}">
    </label>
    <br>
    <br>

    <input [checked]="!isMan()" class="form-check-input" id="femme" name="exampleRadios" type="radio" value="option1">
    <label class="form-check-label" for="femme">
      Femme
    </label>

    <input [checked]="isMan()" class="form-check-input" id="homme" name="exampleRadios" style="margin-left:30px;"
           type="radio"
           value="option1">
    <label class="form-check-label" for="homme">
      Homme
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Adresse" type="text"
             value="{{getAddress()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Ville" type="text" value="{{getCity()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Code postal" type="text"
             value="{{getCodePostal()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Numéro de téléphone" type="text"
             value="{{getPhone()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Adresse mail" type="text"
             value="{{getMail()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="N° Etudiant" type="text"
             value="{{getStudentNumber()}}">
    </label>
    <br>
    <br>

    <label>
      <input aria-describedby="basic-addon1" class="form-control" placeholder="Fillière" type="text"
             value="{{getMajor()}}">
    </label-->

    <hr>

    <!--    DEBUT DU PROGRAMME D'ETUDE-->
    <div align="center" id="mainDiv">
      <h3>Programme d'études pendant le séjour à l'étranger</h3>
      <br>
      <h4>Veuillez remplir le tableau ci-dessous (laisser blanc si nécéssaire)</h4>
      <br>


      <table class="table">
        <thead>
        <tr>
          <th scope="col">Code du cours</th>
          <th scope="col">Titre du cours</th>
          <th scope="col">Nombre de crédits</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours1"
                   placeholder="21343D"
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours1"
                   placeholder="Machine learning"
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits1"
                   placeholder="3"
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours2"
                   placeholder="432455"
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours2"
                   placeholder="Data Science"
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits3" placeholder="2"
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours3" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours3" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits3"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours4" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours4" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits4"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours5" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours5" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits5"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours6" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours6" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits6"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours7" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours7" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits7"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours8" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours8" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits8"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours9" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours9" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits9"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours10" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours10" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits10"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours11" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours11" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits11"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        <tr>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="codeCours12" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="titreCours12" placeholder="..."
                   type="text">
          </td>
          <td>
            <input aria-describedby="basic-addon1" class="form-control" formControlName="nombreCredits12"
                   placeholder="..."
                   type="text">
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <!--    FIN DU PROGRAMME D'ETUDE-->

    <button (click)="onSubmit()" [ngClass]="{'btn-success': isValidated===true}"
            class="btn btn-lg btn-default btn-block" id="submit" type="submit">
      Enregister
    </button>
  </div>
</form>
